.button
  background #000
  color #fff
  font-size 1.25em
  font-family 'M PLUS 1p', sans-serif
  letter-spacing 0.2em
  border none
  cursor pointer
  outline none
  padding 8px 40px
  appearance none